<div class="card shadow-sm p-4 mb-4">
  <h5 class="fw-bold mb-2">{{ label() }}</h5>
  <div class="mb-2 text-center border rounded p-2 bg-light">
    <h4 class="fw-bold mb-0">{{ time | formatTime }} </h4>
  </div>

  <div class="d-flex mb-2 gap-2">
    <button class="btn btn-primary btn-lg flex-fill"
            [class.btn-aura]="shouldGlow()"
            (click)="running() ? stopTimer() : startTimer()">
      {{ running() ? '▐▐' : '▶' }}
    </button>

    <button class="btn btn-outline-primary btn-lg flex-fill"
            (click)="resetTimer()">
      ⟳ Reset
    </button>
  </div>

  <div class="row g-2 mb-3">
    <!-- Boutons négatifs -->
    <div class="col-2 d-grid">
      <button class="btn btn-danger" (click)="adjustTime(-30)">-30 sec</button>
    </div>
    <div class="col-2 d-grid">
      <button class="btn btn-danger" (click)="adjustTime(-15)">-15 sec</button>
    </div>
    <div class="col-2 d-grid">
      <button class="btn btn-danger" (click)="adjustTime(-5)">-5 sec</button>
    </div>

    <!-- Boutons positifs -->
    <div class="col-2 d-grid">
      <button class="btn btn-success" (click)="adjustTime(5)">+5 sec</button>
    </div>
    <div class="col-2 d-grid">
      <button class="btn btn-success" (click)="adjustTime(15)">+15 sec</button>
    </div>
    <div class="col-2 d-grid">
      <button class="btn btn-success" (click)="adjustTime(30)">+30 sec</button>
    </div>
  </div>
</div>
