<div class="card p-4 mb-4">
  <h4 class="fw-bold mb-3">Impro</h4>

  <div class="d-flex align-items-end gap-4">
    <!-- Type -->
    <div class="mb-3">
      <label class="form-label fw-semibold d-block">Type :</label>
      <div class="btn-group" role="group" aria-label="Type de jeu">
        <input type="radio" class="btn-check"
               name="type"
               id="typeMixte"
               autocomplete="off"
               [ngModel]="improDataForm().type"
               (ngModelChange)="onTypeChange(ImproType.MIXTE)"
               [value]="ImproType.MIXTE">
        <label class="btn"
               [class.btn-primary]="improDataForm().type === ImproType.MIXTE"
               [class.btn-outline-secondary]="improDataForm().type !== ImproType.MIXTE"
               for="typeMixte">Mixte</label>

        <input type="radio" class="btn-check"
               name="type"
               id="typeComparee"
               autocomplete="off"
               [ngModel]="improDataForm().type"
               (ngModelChange)="onTypeChange(ImproType.COMPARE)"
               [value]="ImproType.COMPARE">
        <label class="btn"
               [class.btn-primary]="improDataForm().type === ImproType.COMPARE"
               [class.btn-outline-secondary]="improDataForm().type !== ImproType.COMPARE"
               for="typeComparee">Comparée</label>
      </div>

    </div>

    <!-- Titre -->
    <div class="mb-3 flex-grow-1">
      <label for="titre" class="form-label fw-semibold">Titre :</label>
      <input id="titre" type="text" class="form-control" spellcheck="true"
             [ngModel]="improDataForm().title"
             (ngModelChange)="onImproTitleChange($event)"
      />
    </div>
  </div>


  <!-- Nombre de joueurs par équipe -->
  <div class="mb-3">
    <label class="fw-semibold d-block mb-2">Nombre de joueurs par équipe :</label>
    <div class="btn-group" role="group" aria-label="Nombre joueurs par équipe">
      @for (value of ImproNbPlayersValues; track value) {
        <input type="radio" class="btn-check"
               name="type"
               [id]="value"
               autocomplete="off"
               [ngModel]="improDataForm().nbPlayers"
               (ngModelChange)="onNbPlayersChange($event)"
               [value]="value">
        <label class="btn"
               [class.btn-primary]="improDataForm().nbPlayers === value"
               [class.btn-outline-secondary]="improDataForm().nbPlayers !== value"
               [for]="value">
          {{ ImproNbPlayersLabel[value] }}
        </label>
      }
    </div>
  </div>

  <!-- Catégorie -->
  <label for="categorie" class="form-label fw-semibold me-2">Catégorie :</label>
  <div class="mb-3 d-flex align-items-center gap-2">
    <input id="categorie"
           type="text"
           class="form-control"
           list="categoriesList"
           [ngModel]="improDataForm().category"
           (ngModelChange)="OnImproCategoryChange($event)"
    />
    <datalist [id]="'categoriesList'">
      <option value="Fusillade solo ">
      <option value="Fusillade duo">
      <option value="Fusillade position">
      <option value="Taxi">
      <option value="Exercise de style">
      <option value="Carré hollandais">
      <option value="Carré anglais">
      <option value="Char québecois">
      <option value="Littéraire">
      <option value="A la manière de">
      <option value="Epistolaire">
      <option value="Abécédaire">
      <option value="Avec accents">
      <option value="Carnage">
      <option value="Mort en scène">
      <option value="Rimée">
      <option value="Animalière">
      <option value="Assis, Debout, Couché">
      <option value="Auditive">
      <option value="Avec Accessoire">
      <option value="Avec Exagération">
      <option value="Ca Passe ou Ca Casse">
      <option value="Chantée">
      <option value="Comédie musicale">
      <option value="Dégressive">
      <option value="Dramatique">
      <option value="Défi des équipes">
      <option value="Oscar">
      <option value="Doublage Américain">
      <option value="Zapping relais">
      <option value="Étages">
      <option value="Diapositives">
      <option value="Feuilleton">
      <option value="Grosse Colère">
      <option value="Maître & Valet">
      <option value="On connait la fin">
      <option value="Le pire de">
      <option value="Point de vue">
      <option value="Poursuite">
      <option value="Double poursuite">
      <option value="Proverbes à la c*n">
      <option value="Roman Photo">
      <option value="Toaster">
      <option value="Tiens, ça me rappelle une chanson">
      <option value="Travelling">
      <option value="Video-Way">
      <option value="Zones d'Humeur">
    </datalist>
    <button class="btn btn-primary"
            (click)="setImproCategoryFree()">
      Libre
    </button>
  </div>


  <!-- Durée -->
  @if(improData().isImproRunning){
    <div class="form-check my-3">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
             [ngModel]="improDataForm().alsoReviseDuration"
             (ngModelChange)="onAlsoReviseDurationChange($event)"
      >
      <label class="form-check-label"
             for="flexCheckDefault"
      >
        Corriger également la durée
      </label>
    </div>
  }

  <div class="mb-3">
    <label class="fw-semibold d-block mb-2">Durée :</label>

    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
      <!-- Boutons -->
      <div class="btn-group" role="group" aria-label="Durée sélection rapide">
        <button type="button"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                class="btn btn-primary"
                (click)="onImproDurationChange(30)">
          30 sec
        </button>
        <button type="button" class="btn btn-primary"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                (click)="onImproDurationChange(45)">
          45 sec
        </button>
        <button type="button" class="btn btn-primary"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                (click)="onImproDurationChange(60)">
          1 min
        </button>
        <button type="button" class="btn btn-primary"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                (click)="onImproDurationChange(90)">
          1 min 30
        </button>
        <button type="button" class="btn btn-primary"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                (click)="onImproDurationChange(120)">
          2 min
        </button>
        <button type="button" class="btn btn-primary"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                (click)="onImproDurationChange(150)">
          2 min 30
        </button>
        <button type="button" class="btn btn-primary"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                (click)="onImproDurationChange(180)">
          3 min
        </button>
        <button type="button" class="btn btn-primary"
                [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
                (click)="onImproDurationChange(240)">
          5 min
        </button>
      </div>

      <!-- Champs min/sec -->
      <div class="d-flex align-items-center gap-2">
        <input type="number" min="0" class="form-control w-auto" placeholder="min" style="max-width: 80px;"
               [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
               [ngModel]="improDurationMinutes()"
                (ngModelChange)="onImproDurationMinutesChange($event)"
        >
        <span>min</span>
        <input type="number" min="0" class="form-control w-auto" placeholder="sec" step="15" max=59
               [disabled]="improData().isImproRunning && !improDataForm().alsoReviseDuration"
               style="max-width: 80px;"
               [ngModel]="improDurationSeconds()"
               (ngModelChange)="onImproDurationSecondsChange($event)"
        >
        <span>sec</span>
      </div>
    </div>
  </div>

  @if(improData().isImproRunning){
    <div class="d-flex justify-content-end mt-5 gap-2 w-100">
      <button class="btn btn-primary fw-bold flex-fill"
              [disabled]="!isDirty()"
              (click)="onReviseImpro()">Corriger</button>
      <button class="btn btn-primary fw-bold flex-fill" (click)="endImpro()">Fin d'impro</button>
    </div>
  } @else {
    <button class="btn btn-primary fw-bold mt-5"
            [disabled]="!isDirty()"
            (click)="sendData()">Envoyer</button>
  }
</div>
