<div class="card p-4 mb-4">
  <h4 class="fw-bold mb-3">Impro</h4>

  <div class="d-flex align-items-end gap-4">
    <!-- Type -->
    <div class="mb-3">
      <label class="form-label fw-semibold d-block">Type :</label>
      <div class="btn-group" role="group" aria-label="Type de jeu">
        <input type="radio" class="btn-check"
               name="type"
               id="typeMixte"
               autocomplete="off"
               [ngModel]="improDataForm().type"
               (ngModelChange)="onTypeChange(ImproType.MIXTE)"
               [value]="ImproType.MIXTE">
        <label class="btn"
               [class.btn-primary]="improDataForm().type === ImproType.MIXTE"
               [class.btn-outline-secondary]="improDataForm().type !== ImproType.MIXTE"
               for="typeMixte">Mixte</label>

        <input type="radio" class="btn-check"
               name="type"
               id="typeComparee"
               autocomplete="off"
               [ngModel]="improDataForm().type"
               (ngModelChange)="onTypeChange(ImproType.COMPARE)"
               [value]="ImproType.COMPARE">
        <label class="btn"
               [class.btn-primary]="improDataForm().type === ImproType.COMPARE"
               [class.btn-outline-secondary]="improDataForm().type !== ImproType.COMPARE"
               for="typeComparee">Comparée</label>
      </div>

    </div>

    <!-- Titre -->
    <div class="mb-3 flex-grow-1">
      <label for="titre" class="form-label fw-semibold">Titre :</label>
      <input id="titre" type="text" class="form-control"
             [ngModel]="improData().title"
             (ngModelChange)="onImproTitleChange($event)"
      />
    </div>
  </div>


  <!-- Nombre de joueurs par équipe -->
  <div class="mb-3">
    <label class="fw-semibold d-block mb-2">Nombre de joueurs par équipe :</label>
    <div class="btn-group" role="group" aria-label="Nombre joueurs par équipe">
      @for (value of ImproNbPlayersValues; track value) {
        <input type="radio" class="btn-check"
               name="type"
               [id]="value"
               autocomplete="off"
               [ngModel]="improDataForm().nbPlayers"
               (ngModelChange)="onNbPlayersChange($event)"
               [value]="value">
        <label class="btn"
               [class.btn-primary]="improDataForm().nbPlayers === value"
               [class.btn-outline-secondary]="improDataForm().nbPlayers !== value"
               [for]="value">
          {{ ImproNbPlayersLabel[value] }}
        </label>
      }
    </div>
  </div>

  <!-- Catégorie -->
  <label for="categorie" class="form-label fw-semibold me-2">Catégorie :</label>
  <div class="mb-3 d-flex align-items-center gap-2">
    <input id="categorie" type="text" class="form-control"
           [ngModel]="improData().category"
           (ngModelChange)="OnImproCategoryChange($event)"
    />
    <button class="btn btn-primary"
            (click)="setImproCategoryFree()"
    >Libre</button>
  </div>


  <!-- Durée -->
  <div class="mb-3">
    <label class="fw-semibold d-block mb-2">Durée :</label>
    <div class="btn-group mb-2" role="group" aria-label="Durée sélection rapide">
      <button type="button" class="btn btn-primary">30 sec</button>
      <button type="button" class="btn btn-primary">45 sec</button>
      <button type="button" class="btn btn-primary">1 min</button>
      <button type="button" class="btn btn-primary">1 min 30</button>
      <button type="button" class="btn btn-primary">2 min</button>
      <button type="button" class="btn btn-primary">2 min 30</button>
      <button type="button" class="btn btn-primary">3 min</button>
      <button type="button" class="btn btn-primary">5 min</button>
    </div>

    <div class="d-flex align-items-center gap-2">
      <input type="number" min="0" class="form-control w-auto" placeholder="min" style="max-width: 80px;">
      <span>min</span>
      <input type="number" min="0" class="form-control w-auto" placeholder="sec" style="max-width: 80px;">
      <span>sec</span>
    </div>
  </div>

  <button class="btn btn-primary fw-bold" (click)="sendData()">Envoyer</button>
</div>
