<div class="main-container px-3">
  <div class="team-header">
    <img  *ngIf="teamMetadata()?.img"
          [src]="teamMetadata()?.img"
          [class.team-logo]="!gameData.value().automaticPlayerPresentation"
          [class.team-logo-animate]="gameData.value().automaticPlayerPresentation"
          alt="Logo équipe"/>
    <div class="team-name"
         [style.color]="teamMetadata()?.img ? '' :  teamMetadata()?.color"
    >{{ team().name | uppercase }}</div>
  </div>

  <div class="players-container">
    @for(player of displayedPlayers() | keyValueNoSort; track player.key; let i = $index) {
      @let playerValue = player.value;
      @let playerMetadata = playersByCode()[playerValue.code];
      @let animation = gameData.value().automaticPlayerPresentation ? (i + 1) * 0.4 + 's' : '0.4sec';
      <div class="player-bar"
           [style.animationDelay]="animation">
        <img [src]="playerMetadata?.img || teamMetadata()?.playerImgFallback" [alt]="playerValue.code" class="player-photo" />
        <div *ngIf="playerValue.number" class="player-number">#{{ playerValue.number }}</div>
        <div class="overlay">
          <div *ngIf="player.key !== 'Joueur'" class="player-position">
            {{ player.key | roleName:playerMetadata?.isFemale }}
          </div>
          <div class="player-name">{{ playerMetadata?.firstName }}</div>
        </div>
      </div>
    }
  </div>
</div>
