<div class="p-3">
  <div class="d-flex gap-2">
    <button class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.SCREEN_SAVER"
            (click)="displayScreen(DisplayedScreen.SCREEN_SAVER)">ECRAN DE VEILLE
    </button>
    <button class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.MATCH"
            (click)="displayScreen(DisplayedScreen.MATCH)">AFFICHER MATCH
    </button>
    <button *ngIf="gameData.value().teamA.name"
            class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.TEAM_A"
            (click)="displayScreen(DisplayedScreen.TEAM_A)">PRÉSENTER {{ gameData?.value().teamA.name | uppercase }}
    </button>
    <button *ngIf="gameData.value().teamB.name"
            class="btn  btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.TEAM_B"
            (click)="displayScreen(DisplayedScreen.TEAM_B)">PRÉSENTER {{ gameData?.value().teamB.name | uppercase }}
    </button>
    <!--
    <button class="btn  btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.BOTH_TEAMS"
            (click)="displayScreen(DisplayedScreen.BOTH_TEAMS)">PRÉSENTER LES DEUX TEAMS</button>
    -->
  </div>
  <div class="row mt-3">
    <div class="col">
      <app-team-manager-panel [teamNumber]="TeamNumber.TEAM_A"
                              [team]="gameData.value().teamA"
                              (teamChange)="onTeamChange($event, TeamNumber.TEAM_A)"
                              (resetFouls)="onResetFouls(TeamNumber.TEAM_A)"

      ></app-team-manager-panel>
    </div>
    <div class="col">
      <app-team-manager-panel [teamNumber]="TeamNumber.TEAM_B"
                              [team]="gameData.value().teamB"
                              (teamChange)="onTeamChange($event, TeamNumber.TEAM_B)"
                              (resetFouls)="onResetFouls(TeamNumber.TEAM_B)"
      ></app-team-manager-panel>
    </div>
  </div>
  <div class="row mt-3">
    <app-impro-manager-panel class="col-7"
                             [improData]="improData.value()"
                             (improDataChange)="onImproDataChange($event)"

    />
    <div class="col-5">
      <app-time-manager-panel [label]="'Impro'"
                              [baseTime]="improData.value().duration"
                              (startTime)="onImproStart()"
                              (stopTime)="onImproStop()"
                              (resetTime)="onImproReset()"
                              (adjustTIme)="onAdjustImproTime($event)"
      />
      <app-time-manager-panel [label]="'Round'"
                              [baseTime]="2700"
                              (startTime)="onRoundStart()"
                              (stopTime)="onRoundStop()"
                              (resetTime)="onRoundReset()"
                              (adjustTIme)="onAdjustRoundTime($event)"
      />
    </div>
  </div>

</div>
