<div class="p-3">
  <div class="d-flex gap-2">
    <button class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.SCREEN_SAVER"
            (click)="displayScreen(DisplayedScreen.SCREEN_SAVER)">ECRAN DE VEILLE
    </button>
    <button class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.MATCH"
            (click)="displayScreen(DisplayedScreen.MATCH)">AFFICHER MATCH
    </button>
    <button *ngIf="gameData.value().teamA.name"
            class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.TEAM_A"
            (click)="displayScreen(DisplayedScreen.TEAM_A)">PRÉSENTER {{ gameData?.value().teamA.name | uppercase }}
    </button>
    <button *ngIf="gameData.value().teamB.name"
            class="btn  btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.TEAM_B"
            (click)="displayScreen(DisplayedScreen.TEAM_B)">PRÉSENTER {{ gameData?.value().teamB.name | uppercase }}
    </button>
    <button class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.VIDEO"
            (click)="displayScreen(DisplayedScreen.VIDEO)">PROJETER UNE VIDÉO
    </button>
    <button class="btn btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.ANTHEM"
            (click)="displayScreen(DisplayedScreen.ANTHEM)">HYMNE
    </button>
    <!--
    <button class="btn  btn-outline-primary btn-lg flex-fill"
            [class.active]="displayedScreen.value() === DisplayedScreen.BOTH_TEAMS"
            (click)="displayScreen(DisplayedScreen.BOTH_TEAMS)">PRÉSENTER LES DEUX TEAMS</button>
    -->
  </div>

  @switch (displayedScreen.value()) {
    @case (DisplayedScreen.MATCH) {
      <app-display-match-manager/>
    }
    @case (DisplayedScreen.VIDEO) {
      <app-display-video-manager/>
    }
    @case (DisplayedScreen.ANTHEM) {
      <app-display-anthem-manager/>
    }
    @case (DisplayedScreen.TEAM_A) {
      @if(!gameData.value().automaticPlayerPresentation){
        <app-display-team-manager [team]="gameData.value().teamA"
                                  (teamChange)="onTeamChange($event, TeamNumber.TEAM_A)"
        />
      }
    }
    @case (DisplayedScreen.TEAM_B) {
      @if(!gameData.value().automaticPlayerPresentation){
        <app-display-team-manager [team]="gameData.value().teamB"
                                  (teamChange)="onTeamChange($event, TeamNumber.TEAM_B)"

        />
      }    }
    @default {

    }
  }

</div>
