.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards; /* Durée 1s, forwards pour garder l'état final */
}

.lineCls {
  font-size: 3.2rem;
  line-height: 1.4;
  font-weight: 500;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.bg-black {
  background-color: #000 !important;
}

.pushed-on-top {
  align-items: start !important;
  padding-top: 10vh;
}
