<div>
  <div class="main-container px-3"
  >

    <div class="players-container">
      @for (player of filteredTeamPlayers() | keyValueNoSort; track player.key; let i = $index) {
        @let playerValue = player.value;
        @let playerMetadata = playersByCode()[playerValue.code];
        <div class="player-bar">
          @let
          playerImg = playerMetadata?.img ? playerMetadata?.img + teamMetadata().playerImgSuffix : teamMetadata()?.playerImgFallback;
          <img [src]="playerImg" [alt]="playerValue.code"
               class="player-photo"/>
          <div *ngIf="playerValue.number" class="player-number">#{{ playerValue.number }}</div>
          <div class="overlay">
            <div class="player-name">{{ playerMetadata?.firstName }}</div>
          </div>
        </div>
      }
    </div>

  </div>
</div>
