<div class="main-container">
  <!-- En-tête de l'équipe -->
  <div class="team-header">
    <!-- Logo si présent -->
    @if(teamMetadata()?.img){
      <img [src]="teamMetadata().img"
           [style.animationDelay]="automaticPlayerPresentation ? playersCount() * 0.4 + 's' : '0.4s'"
           class="team-logo"
           alt="Logo équipe"/>
    } @else {
      <div class="team-name fw-bold text-uppercase"
           [style.color]="teamMetadata()?.img ? '' : teamMetadata()?.color">
        {{ teamMetadata()?.name }}
      </div>
    }
  </div>

  <!-- Joueurs -->
  <div class="players-container">
    <div *ngFor="let player of this.team().players | keyValueNoSort; let i = index">
      @let playerValue = player.value;
      @let playerMetadata = playersByCode()[playerValue.code];
      @let playerImg = playerMetadata?.img ? playerMetadata?.img + teamMetadata().playerImgSuffix : teamMetadata()?.playerImgFallback;

      @let key = player.key;

      <div class="player-bar"
           [style.animationDelay]="automaticPlayerPresentation() ? (i + 1) * 0.4 + 's' : '0.4s'">

        <!-- Photo du joueur -->
        <img [src]="playerImg"
             [alt]="playerValue.code"
             class="player-photo"/>

        <!-- Numéro du joueur -->
        <div *ngIf="playerValue.number" class="player-number">
          #{{ playerValue.number }}
        </div>

        <!-- Overlay bas -->
        <div class="overlay">
          <!-- Rôle si différent de Joueur -->
          <div *ngIf="key !== 'Joueur'" class="player-position">
            {{ key | roleName:playersByCode()[playerValue.code]?.isFemale }}
          </div>
          <!-- Prénom -->
          <div class="player-name">
            {{ playersByCode()[playerValue.code]?.firstName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
