<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="btn btn-primary me-3" id="new-match-btn" (click)="resetMatch()">Nouveau match</button>

    <ul class="navbar-nav flex-row gap-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="parameters" routerLinkActive="active">Choix des équipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="match" routerLinkActive="active">Match</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
