  <div class="myContainer">
    <div class="top-section">
      <div class="total-timer">
        <span id="total-timer">45:00</span>
      </div>
      <div class="teams">
        <app-scoreboard-team [teamNumber]="Team.TEAM_A"
                             [team]="gameData().teamA"
        />
        <div class="round-timer">
          <br><span id="round-timer">03:00</span>
        </div>
        <app-scoreboard-team [teamNumber]="Team.TEAM_B"
                             [team]="gameData().teamB"
        />
      </div>
    </div>
    <div class="bottom-section">
      <div class="theme-box">
        <div class="theme-type" id="theme-type">
          {{ improData() | formatImproHeader }}
        </div>
        <div class="theme-title" id="theme-title">
          {{  improData().title }}
        </div>
        <div class="theme-style" id="theme-style">
          {{  improData().category | titlecase }}
        </div>
      </div>
    </div>
  </div>
