<div [ngStyle]="screenStyle()">
<div class="bg-black"
     [class.pushed-on-top]="projectionMode() === ProjectionMode.PUSHED_ON_TOP"
      [ngStyle]="containerStyle()"
>

  @if (files() && currentVideoPath() && mediaType() === MediaType.VIDEO) {
    <video
      #videoPlayer
      *ngIf="currentVideoPath()"
      [src]="currentVideoPath()"
      controls
      [ngStyle]="containerStyle()"
      [class.pushed-on-top]="projectionMode() === ProjectionMode.PUSHED_ON_TOP"
    ></video>
  }

  @if (files() && currentVideoPath() && mediaType() === MediaType.IMAGE) {
    <div class="media-container">
      <img *ngIf="currentVideoPath()"
           [src]="currentVideoPath()"
           [ngStyle]="containerStyle()"
           alt="Projected Media"
           class="media-img"/>
    </div>
  }

</div>
</div>
