<div [ngStyle]="screenStyle()">
  <div class="main-container  mt-3 text-white d-flex flex-column"
       [ngStyle]="containerStyle()"
  >
    <div class="teams-wrapper d-flex flex-column" [class.pushed-on-top]="projectionMode() === ProjectionMode.PUSHED_ON_TOP">
      <app-team-block-presentation class="team-block"
                                   [team]="gameData().teamA"
                                   [automaticPlayerPresentation]="gameData().automaticPlayerPresentation"
                                   [players]="players.value()"
      />

      <app-team-block-presentation class="team-block"
                                   [team]="gameData().teamB"
                                   [automaticPlayerPresentation]="gameData().automaticPlayerPresentation"
                                   [players]="players.value()"
      />
    </div>
  </div>
</div>
