<div [ngStyle]="screenStyle()">
  @if (!isMediaNull()) {
    <div class="bg-black"
         [ngStyle]="containerStyle()"
         [class.pushed-on-top]="projectionMode() === ProjectionMode.PUSHED_ON_TOP"
    >

      @if (files() && currentVideoPath() && mediaType() === MediaType.VIDEO) {
        <video
          #videoPlayer
          *ngIf="currentVideoPath()"
          [src]="currentVideoPath()"
          [muted]="'muted'"
          [autoplay]="true"
          [ngStyle]="containerStyle()"
          [class.pushed-on-top]="projectionMode() === ProjectionMode.PUSHED_ON_TOP"
        ></video>
      }

      @if (files() && currentVideoPath() && mediaType() === MediaType.IMAGE) {
        <div class="media-container">
          <img *ngIf="currentVideoPath()"
               [src]="currentVideoPath()"
               alt="Projected Media"
               class="media-img"/>
        </div>
      }

    </div>
  } @else {
    <div [ngStyle]="containerStyle()"
         class="bg-black text-white vh-100 d-flex justify-content-center align-items-center">
      <span class="display-1 fw-bold">{{ 'www.improvisation.be' | uppercase }}</span>
    </div>
  }

</div>
