@switch (displayedScreen?.value()) {
  @case (DisplayedScreen.SCREEN_SAVER){
    <app-screen-saver/>
  }
  @case (DisplayedScreen.MATCH) {
    <app-scoreboard [gameData]="gameData.value()"
                    [improData]="improData.value()"
                    [roundTimer]="roundTimer()"
                    [improTimer]="improTimer()"
                    [projectionMode]="gameData.value().projectionMode"
    />
  }
  @case (DisplayedScreen.TEAM_A) {
    <app-team-presentation [team]="gameData.value().teamA"/>
  }
  @case (DisplayedScreen.TEAM_B) {
    <app-team-presentation [team]="gameData.value().teamB"/>
  }
  @case (DisplayedScreen.BOTH_TEAMS) {
    <app-both-teams-presentation [gameData]="gameData.value()"/>
  }
  @case (DisplayedScreen.MEDIA) {
    <app-media-watcher [projectionMode]="gameData.value().projectionMode"/>
  }
  @case (DisplayedScreen.PUBS) {
    <app-pubs-watcher [projectionMode]="gameData.value().projectionMode"/>
  }
  @case (DisplayedScreen.ANTHEM) {
    <app-anthem [projectionMode]="gameData.value().projectionMode" />
  }
  @case (DisplayedScreen.PROJECTION_HANDLING_HELPER) {
    <app-projection-handling-helper />
  }
  @default {
    <app-screen-saver/>
  }
}

<router-outlet/>
