<div class="row mt-3">
  <div class="card shadow-sm p-4 mb-4">
    <div class="mb-3">
      <label for="folderPath" class="form-label">Fichiers trouvés à partir de :</label>
      <input type="text" id="folderPath" class="form-control" [value]="folderPath" disabled>
    </div>

    <div class="mb-3">
      <h6>Liste des vidéos :</h6>
      <div class="list-group">
        <button *ngFor="let file of files"
                class="list-group-item list-group-item-action"
                [class.active]="file === video()?.videoId"
                (click)="onVideoClick(file)">
          {{ file }}
        </button>
      </div>
    </div>

    <div style="position: relative; width: 100%; max-width: 800px; margin: auto;">
      <video *ngIf="videoPath()"
             #myVideo
             controls
             [src]="videoPath()"
             (play)="playVideo()"
             (pause)="pauseVideo()"
             style="width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 10px rgba(0,0,0,0.3);">
      </video>
    </div>
  </div>
</div>
