.btn-input-size {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=number] {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes auraPulseScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: auraPulseScale 0.8s infinite;
}

label {
  font-size: 0.9rem;
}

button {
  font-size: 0.9rem;
}

legend {
  font-size: 1.2rem;
  margin-bottom: 0;
}

fieldset {
  padding: 0
}
